body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
html,
body {
  overflow-x: hidden;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* empuja el footer */
}