.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f5f5f5;
}


.admin-header {
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.admin-content main {
  padding: 20px;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card {
  background-color: white;
  padding: 20px;
  flex: 1;
  min-width: 220px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.card p {
  font-size: 16px;
  color: #555;
}

.search-input {
  margin-bottom: 15px;
  padding: 8px 12px;
  width: 100%;
  max-width: 400px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.admin-table table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.admin-table th,
.admin-table td {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.admin-table button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.admin-table button:first-child {
  padding: 15px 80px;
  color: black;
  border: 1px solid black;
  background: transparent;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}

.admin-table button:first-child:hover {
  background: black;
  color: white;
}


.admin-table button:last-child {
  padding: 15px 80px;
  color: white;
  background-color: black;
  border: 1px solid black;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
}

.admin-table button:last-child:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}


/* Modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
}

.modal-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
